body {background-color: rgb(86, 98, 109) ;}

h1 {color:rgb(31, 11, 121) ; font-family: Verdana, Geneva, Tahoma, sans-serif;}

h2 {color: rgb(31, 11, 121) ; font-family: Verdana, Geneva, Tahoma, sans-serif;}

h3 {color: rgb(31, 11, 121) ; font-family: Verdana, Geneva, Tahoma, sans-serif;}

p {margin-right: 150px; color: rgb(31, 11, 121) ; font-family: Verdana, Geneva, Tahoma, sans-serif;}

img {border: 5px solid black; float: right; width: min-content; height: min-content;}
